* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}

.missing {
	background-color: yellow;
}

.extra {
	background-color: lightcoral;
}

.active {
	color: blue;
	text-decoration: underline;
}

input.text-input {
	opacity: 0;
	z-index: -999;
	position: absolute;
}

div.text-container > p {
	font-size: 25px;
	/* text-align: justify;
	letter-spacing: 2px;
	word-break: break-all; */
	display: flex;
	flex-wrap: wrap;
}

div.text-container > p > span {
	/* font-size: 25px;
	text-align: justify;
	letter-spacing: 2px;
	word-break: break-all; */
	display: inline-block;
	white-space: nowrap;
	margin-right: 5px; /* Adjust spacing between words as needed */
}

div.text-container > p > span > span {
	display: inline-block;
}
